pydantic==2.5.2
pydantic-extra-types==2.1.0
pydantic-settings==2.1.0
pydantic_core==2.14.5
pandas==2.1.4
numpy==1.26.2
tensorflow==2.8.0
tensorflow-addons==0.14.0
tensorflow-estimator==2.8.0
tensorflow-io==0.21.0
tensorflow-io-gcs-filesystem==0.21.0
tensorflow-io-kafka==0.21.0
tensorflow-io-kinesis==0.21.0
tensorflow-io-s3==0.21.0
tensorflow-io-spark==0.21.0
tensorflow-io-xla==0.21.0
tensorflow-probability==0.15.0
tensorflow-serving-api==2.8.0
tensorflow-text==2.8.0
tensorflow-transform==1.5.0
dill==0.3.5
pytest==7.4.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
pytz==2023.3.post1
PyYAML==6.0.1
scikit-learn==1.3.2
websockets==12.0
opencv-python-headless==4.8.1.78
orjson==3.9.10
packaging==23.2
fastapi==0.104.1
h11==0.14.0
httpcore==1.0.2
httptools==0.6.1
httpx==0.25.2
